.window
  %h1 
    .buttons
      <a class="one" href="#" onclick="return false;"></a>
      <a class="two" href="#" onclick="return false;"></a>
      <a class="three" href="#" onclick="return false;"></a>
    %span Write HTML+CSS for this page
  .content
    .main
      %h2 Big
      %h3 Small
      %ul
        %li.col1 
          <p>Left</p>
        %li.col2
          <p>Right</p>
  .footer
